---
title: "About"
---
<h2> About the Comic </h2>
<p>
	When he goes to find his last connection to his mother, he ends up meeting an unlikely friend. Together, they discover a new purpose. How far will this journey take them?
</p>

<h2>About the Writer</h2>
<p>
	My story begins back when I was born… which I’m told is where everyone’s story begins so go figure. I was born into a peasant family out in the middle of Mesopotamia. My mother was a hamster and my father smelled of elderberries, yet we still got by. One day, we decided to leave for the new world in search of freedom, opportunities and wealth; but our ship got caught in a storm. We got chased away from course and I soon found myself lost and shipwrecked in the middle of a deserted island on the Pacific Ocean. With no food or shelter, I decided to roam further into the jungles to try to survive. This is where I met the locals… an eerie group of tribal people who lived off the island’s resources. They didn’t know the modern world, they didn’t even have electricity, but they helped me recover. I spent the next few months with them, and they allowed me to indulge in their activities which included boar fighting, banana picking, and getting stoned out of our nuts. One day, during a late night sesh, one of the locals and I decided we had nothing better to do but keep getting doused when suddenly… in the darkness… out of the corners of our eyes… we saw a strange figure move swiftly from one end to the other. Panic took over. We were fearing for our lives. Who was this? WHAT was this? Was it friend or was it foe? Well, as things would turn out to be it was just a giant banana tree leaf that brushed across in the wind but that gave my brilliant, inebriated, brother an idea!
	
	<blockquote>
		DUUUUDE! YOU SHOULD TOTALLY, LIKE, MAKE A COMIC ABOUT, LIKE, GHOSTS AND STUFF!
	</blockquote>

	And so… the idea of Entity was born.

	<br/>
	<br/>

	No, but honestly, I didn’t like how seriously Supernatural started taking itself after the 3rd season and decided to make my own series. A lot of the stories are inspired by real world events but embellished for entertainment purposes.
</p>

<h2>
	About the Artist
</h2>
<p>
	Meow~
</p>
