---
title: Contact
---

<h1>Contact</h1>
<p><%= config.contact.description %></p>
<dl>
	<% for (i in Object.keys(config.contact.methods)) {%>
		<% let method_name = Object.keys(config.contact.methods)[i] %>
		<% let method = Object.values(config.contact.methods)[i] %>
		<% let is_link = method.action.slice(0, 8) == "https://" %>

		<% if (is_link) {%>
			<dt>
				<img src="/static/img/logo/<%= method.logo %>" class="contact__logo">
				<a href="<%= method.action %>">
					<%= method_name %>
				</a>
			</dt>
		<% } else { %>
			<dt>
				<img src="/static/img/logo/<%= method.logo %>" class="contact__logo">
				<span>
					<%= method_name %>
				</span>
			</dt>
			<dd>
				<pre><%= method.action %></pre>
			</dd>
		<% } %>
	<% } %>
</dl>
