---
eleventyComputed:
  title: "<%= config.title %>"
---
<h1>
	<img src="/static/img/favicon.png" class="favicon">
	<span>
		<%= config.title %>
	</span>
</h1>
<p><%= config.description %></p>
<img src="/static/img/main.jpg" class="img-center">
