<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<title><%= title %></title>
  </head>
  <body>
	<% include /nav %>
	<%- content  %>
  </body>
</html>
