<nav>
	<% for (i in Object.keys(nav)) { %>
		<a href="<%= Object.keys(nav)[i] %>"><%= Object.values(nav)[i] %></a>
		<% if (!(i == Object.keys(nav).length - 1)) { %>
			<span>
				|
			</span>
		<% } %>
	<% } %>
</nav>
