html {
	height: 100%;
	background: url("/static/svg/background.svg");
}
body {
	height: 100%;
	background: none;
}

.img-center {
	display: block;
	margin: auto;
}

.favicon {
	height: 40px;
}

.contact__logo {
	width: 25px;
}

.imgs-container {
  display: flex;
  flex-direction: column;
}

nav {
	display: flex;
	gap: 10px;
}
